*{
	padding: 0px;
	margin: 0px;
}


body{
	background-color: white;
}

.Home{
	display: flex;
}


.in-flex{
	flex: 1;
	background-color: white;

}



.mw-menu{
    width: 15em;
    height: 50em;
    left: 0;
    padding: 1px;
    height: 2500px;
    margin: 1;
    background: #f6f7f9;
    color:black;

}

.in-flex:first-child{
	flex: 2;
	padding: 20px;
	margin: 10px;
}

.in-flex div{
	padding: 5px;
	background-color:blue;
	margin: 1px;

}
.Boton {
    padding: 7px;
    margin: 2px;

}

.txt {
    display: grid;
    grid-template-columns: 30% 70%;
}

.siete{
    display:grid;
    grid-template-columns: 65% 35%;
}

.l-info{
	position: absolute;
	flex: 1;
	background-color: white;
	border-bottom: 2px solid #d3d3d3;
    border-top: 1px solid #d3d3d3; 
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
	padding: 30px;
	width: 480px;
	margin-top: 53mm;
    margin-left: 680px;
    margin-right: 50px;

}
.l-info:first-child{
	flex: 2;
	padding: 30px;
	margin: 10px;
	width: 630px;
	margin-top: 53mm;
    margin-left: 30px;
    margin-right: 20px;

}

.boto{
	padding: 1px;
	height: 20px;
	margin: 1px;
}

ul {
    list-style: none none;
    margin: 0;
}

div {
    display: block;
}

.mw-encabezado{
	flex: 3;
	background-color: #f6f7f9;
	width: 85em;
}
.vector-menu-content{
	background-color: #f6f7f9;
}
.final{
	position: absolute;
	background: red;
	margin-top: 50mm;
}

.Bienvenida
{
        margin-top: 8mm;
        margin-left: 7px;
        margin-right: 40px;
        width: 1130px;
        height: 150px;
        background-color: white;
        background:url(https://upload.wikimedia.org/wikipedia/commons/e/e3/Wikipedia_logo_letters_banner.svg) no-repeat bottom right;
         
        border-bottom: 3px solid #d3d3d3;
        border-top: 0px solid #d3d3d3; 
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;

        position: absolute;
        display: inline-block;
        margin: 30px;
        padding: 10px;
}

.textBienvenida{
 padding: 5px;
 margin: 0em;
 height: 5px;
 margin-top: -11mm;
}
.textLema{
 padding: 5px;
 margin: 0em;
 height: 5px;
 margin-top: 5mm;
}

.textCantidad{
 padding: 5px;
 margin: 0em;
 height: 5px;
 margin-top: -15mm;
 text-align-last: right;
}
.MiTabla
{
 padding: 5px;
 margin: 0em;
 height: 5px;
 margin-top: 6mm;
 margin-left: 47em;
}

.vector-menu-content-list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: baseline;
    width: 85em;
}

.vector-menu-content-list-right {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: baseline;
}

.vector-menu-content-list-left li a, .vector-menu-content-list-right li a{
	background-position: right bottom;
    color: #0645ad;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    float: left;
    height: 3.07692308em;
    position: relative;
    padding-top: 1.25em;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 0.8125em;
    cursor: pointer;
}


.mw-list-item{
	padding: 5px;
}

.vector-menu-content-list-left .selected a, .vector-menu-content-list-left .selected a:visited,
.vector-menu-content-list-right .selected a, .vector-menu-content-list-right .selected a:visited{
    color: #202122;
    text-decoration: none;
}

.vector-menu-content-list-left a,.vector-menu-content-list-right a{

    background-image: linear-gradient(to bottom,rgba(167,215,249,0) 0,#a7d7f9 100%);
    background-repeat: no-repeat;
    background-size: 1px 100%;
}
a {
    text-decoration: none;
    color: #0645ad;
    background: none;
}
a:-webkit-any-link {
    color: blue;
    cursor: pointer;
}
.vector-menu-content-list-left li ,.vector-menu-content-list-right li{

    background-image: linear-gradient(to top,#77c1f6 0,#e8f2f8 1px,#ffffff 100%);
    background-position: left bottom;
    background-repeat: repeat-x;
    float: left;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.125em;
    white-space: nowrap;
}
li {
    text-align: -webkit-match-parent;
}
.vector-menu-content-list-left ul ,.vector-menu-content-list-right ul{
    float: left;
    height: 100%;
    list-style: none none;
    margin: 0;
    padding: 0;
}
.vector-menu-content-list-left ul,.vector-menu-content-list-right ul {
    list-style: none none;
    margin: 0;
    padding: 0px;
}
ul {
    list-style:none;
}

.punto-uno li {
    margin: 0;
    padding: 0.25em 0;
    font-size: 0.75em;
    line-height: 1.125em;
    word-wrap: break-word;
}
.punto-uno {
    margin: 0 1.5em 0 2.5em;
    padding: 0.20em 1;
    direction: ltr;
  	font-family: Arial; color: blue;
}
.punto-dos li {
    margin: 0;
    padding: 0.25em 0;
    font-size: 0.75em;
    line-height: 1.125em;
    word-wrap: break-word;
}
.punto-dos {
    margin: 0 1.5em 0 2.5em;
    padding: 0.20em 1;
    direction: ltr;
  	font-family: Arial;
}
.punto-tres li {
    margin: 0;
    padding: 0.25em 0;
    font-size: 0.75em;
    line-height: 1.125em;
    word-wrap: break-word;
}
.punto-tres {
    margin: 0 1.5em 0 2.5em;
    padding: 0.20em 1;
    direction: ltr;
  	font-family: Arial;
}

.icono{
		width: 150px; 
	    border-bottom: 1px solid #d3d3d3;
        border-top: 1px solid #d3d3d3; 
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
        padding: 2px;
        margin-top: -57mm;
        margin-left: 430px;
        margin-right: 40px;
}
.imagen{

	padding: 3px;
}

.letra{
	font-family: Arial;
}
.ti{
		width: 400px;
        padding: 3px;
        right: 10px;
}