

.home{
    display: flex;
    flex-wrap: wrap;

}



header {
    position: absolute;
    width: 10;
    top: 0;
    height: 55px;
    background:#f6f7f9;
    text-align: right;
    padding: 1px;
    margin: 0px;
    font-family: Arial ;

    }

ul {
    list-style: none;
}

.menu div{
    
    padding: -20px;
    margin: 0px;

}


.inforq{
    position:static;
    right: 200;
    
    background:red;


    }

body{
	background: white;
}

article {
	width: 50px;
    height: 800px;
    padding: 2px;
    margin: 2;
    background: white;
    color:black;
}



table {

    text-align:left;
    background: #f6f7f9;
     width: 150;
    padding: 3px;
    margin: 2px;
}
.indice {
    background: #f6f7f9;

    width: 12em;
    padding: 9px;
    margin: 2px;
    border-color: #B4BBC8;
    border-width: 1px;
    border-style: solid;
}



.rowr{
    position: static;
    top: 0;
    width: 150;
    padding: 2px;
    margin: 2px;
    color:black;
}

.me{
  
    border-color: #B4BBC8;
    border-width: 1px;
    border-style: solid;
    background: #f9f9f9;
    padding: 1px;
    margin: 0;
}


.ewk_sombra {

    border-top: 1px solid gray;

}

.videojuegos{
    width: 300px;
    height: 50px;
    padding: 10px;
    margin: 0;
    text-align:center;
    color: black;
    font-style: italic;
    background:url(https://upload.wikimedia.org/wikipedia/commons/2/2d/Picto_infobox_gamepad.png) no-repeat bottom right;
}


.baner{
    position: absolute;
    top: 0;
    width: 12em;
    height: 100em;
    left: 0;
    padding: 1px;
    margin: 1;
    background: #f6f7f9;
    color:black;

}



.men{
    position: static;
    width: 100;
    top: 0;
    height: 50px;
    background:#f6f7f9;
    text-align: right;
    padding: 1px;
    margin: 1;
    background-color: black;

}

.in-flex{
    flex:1;
    padding: 20px;
    margin: 5px;
    min-width:50;
    background: white;

}

.in-flex:first-child{
    flex: 2;
     padding: 10px;

    margin:20px;
    margin-bottom: 0px;

}
